[submodule "nvim"]
	path = nvim
	url = https://github.com/vitordb/kickstart.nvim

[submodule "tmux/plugins/catppuccin-tmux"]
	path = tmux/plugins/catppuccin-tmux
	url = https://github.com/catppuccin/tmux

[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum

[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible

[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank

[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator

[submodule "tmux/plugins/tmux-fzf"]
    path = tmux/plugins/tmux-fzf
    url = https://github.com/sainnhe/tmux-fzf

[submodule "tmux/plugins/tmux-fzf-url"]
    path = tmux/plugins/tmux-fzf-url
    url = https://github.com/wfxr/tmux-fzf-url

[submodule "tmux/plugins/tmux-sessionx"]
    path = tmux/plugins/tmux-sessionx
    url = https://github.com/omerxx/tmux-sessionx

[submodule "tmux/plugins/tmux-themepack"]
    path = tmux/plugins/tmux-themepack
    url = https://github.com/jimeh/tmux-themepack

[submodule "tmux/plugins/tmux-thumbs"]
    path = tmux/plugins/tmux-thumbs
    url = https://github.com/fcsonline/tmux-thumbs

